.restaurant-wrapper {
    display: table-cell;
    width: 100%;
    margin: 10px 50px;
}

.restaurant-logo {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-right: 20px;
}

.restaurant-caption {
    vertical-align: middle;
    font-size: 1rem;
    color: white;
}

.category-caption {
    margin-bottom: 0;
}

.empty-category {
    margin-top: 5px;
    margin-left: 50px;
}

.filled-category {
    margin-top: 5px;
    margin-left: 90px;
}